@font-face {
    font-family: 'Gill Sans';
    src: url('./fonts/Gill\ Sans.otf');
}


body {
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
}


.d-none {
    display: none;
}


.description {
    font-size: 18px;
    display: none;
}


.filled-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 0;
    background-color: #0a8d0f;
    z-index: 1;
}


img {
    max-width: 176px;
    max-height: 176px;
    margin: 16px 0 16px 0;
}


p {
    margin: 0 0 8px 0;
}


.pokedex-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.pokedex-style {
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    min-height: 248px;
    background-color: #E23B19;
    color: white;
    padding: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 40px;
    cursor: pointer;
    margin: 8px;
}


.pokedex-style h2 {
    margin: 8px 0 8px 0;
}


#pokemonName {
    font-size: 40px;
    font-weight: 600;
}


.show-card {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.2;
    transition: ease-in-out 125ms;
}


.stat-bar {
    position: relative;
    height: 25px;
    width: 200px;
    background-color: #ccc;
    margin-bottom: 10px;
}


.stat-bar-div {
    margin-top: 16px;
}


.stat-text {
    position: relative;
    z-index: 2;
}


#stats {
    color: black;
    font-weight: 600;
    margin-top: 32px;
    display: none;
}