@font-face {
    font-family: 'Gill Sans';
    src: url('./fonts/Gill\ Sans.otf');
}


* {
    font-family: 'Gill Sans', sans-serif;
}


a {
    text-decoration: none;
    color: white;
}


body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


button {
    color: white;
    background-color: black;
    font-size: 24px;
    font-family: 'Gill Sans';
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
    border: unset;
}


button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.cursor-unset {
    cursor: unset !important;
}


#loadButton {
    display: flex;
    justify-content: center;
    margin: 64px 0 64px 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.d-none {
    display: none !important;
}


.description {
    font-size: 18px;
    display: none;
}


.filled-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 0;
    background-color: #0a8d0f;
    z-index: 1;
}


footer {
    height: 128px;
    width: 100%;
    margin-top: 32px;
    background-image: url(img/pokemon_footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.5);
}


footer a {
    cursor: pointer;
}


footer a:hover {
    color: black;
}


.footer-img {
    height: 64px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(53deg) brightness(105%) contrast(101%);
}


header {
    height: 128px;
    background-image: url(img/pokemon_header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}


header a {
    margin: 0;
    font-size: 56px;
    font-weight: 600;
}


header a:hover {
    color: black;
}


.impressum {
    margin: 64px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.impressum a {
    color: rgba(0, 0, 0, 0.6);
}


.impressum a:hover {
    color: white;
}


.impressum-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.dsgvo {
    margin: 64px;
    max-width: 500px;
}


.dsgvo a {
    color: rgba(0, 0, 0, 0.6);
}


.dsgvo a:hover {
    color: white;
}


.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pokemon-img {
    max-width: 160px;
    max-height: 160px;
    margin: 16px 0 16px 0;
}


p {
    margin: 0 0 8px 0;
}


.pokedex-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.pokedex-style {
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    min-height: 256px;
    background-color: #E23B19;
    color: white;
    padding: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 40px;
    cursor: pointer;
    margin: 8px;
}


.pokedex-style h2 {
    margin: 8px 0 8px 0;
}


.pokedex-style:hover {
    scale: 1.05;
    transition: ease-in-out 125ms;
}


#pokemonName {
    font-size: 40px;
    font-weight: 600;
}


.show-card {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.2 !important;
    transition: ease-in-out 125ms;
}


.stat-bar {
    position: relative;
    height: 25px;
    width: 200px;
    background-color: #ccc;
    margin-bottom: 10px;
}


.stat-bar-div {
    margin-top: 16px;
}


.stat-text {
    position: relative;
    z-index: 2;
}


#stats {
    color: black;
    font-weight: 600;
    margin-top: 32px;
    display: none;
}


/* Custom Scroll Bar */


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #CCCCCC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E0524E; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF; 
  }