<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <link rel="icon" type="image/x-icon" href="../img/pokeball.png">
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
</head>

<body onload="includeHTML()">
    <div id="header" w3-include-html="../includes/header.html"></div>
<div class="impressum">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Daniel Schneider<br />
        Sch&ouml;ne Aussicht 6<br />
        65329 Hohenstein</p>

    <h2>Kontakt</h2>
    <p>Telefon: 06120 9269386<br />
        E-Mail: student@dsc-mail.de</p>

    <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>
    <div id="footer" w3-include-html="../includes/footer.html"></div>
</body>

</html>